body {
    text-align: center;
}

.button {
    font-family: 'Sigmar One', cursive;
    font-size: 25px;
    background: none;
    border: none;
}

#score {
    font-family: 'Sigmar One', cursive;
    font-size: 25px;
}
